# Copie este arquivo para .env.local e preencha os valores

# Banco de dados Supabase
DATABASE_URL="postgresql://postgres:[SENHA]@db.[PROJETO-ID].supabase.co:5432/postgres"

# NextAuth
NEXTAUTH_SECRET="uma-chave-secreta-aleatoria-de-pelo-menos-32-caracteres"
NEXTAUTH_URL="http://localhost:3000"

# Email (Gmail)
EMAIL_USER="seu-email@gmail.com"
EMAIL_PASS="sua-senha-de-app-do-gmail"